{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type = "image/x-icon"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    
  {% include 'navbar.html' %}

  <section class="vh-100">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    
                    <img src="{% static 'img/escalaf.png' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; width:500px; height: 530px;" />
                  
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form>
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          
                        <!-- ANULADO X AHORA
                          <span class="h1 fw-bold mb-0">BomberoLogo</span>-->  
                        
                        </div>
      
                        
                          <div class="text-dark px-3 py-4 p-md-50 mx-md-4">
                            <h4 class="mb-4">Legislación Nacional</h4>
                            <div class="vstack gap-3">
                              <div class="bg-light border"><p><a href="/static/img/Ley 11686 - Exencion Aduana.pdf" class="pe-auto">Ley 11686 - Exencion Aduana</a></p></div>
                              <p><a href="/static/img/Ley 19052 - Indemnizacion a BBVV.pdf" class="pe-auto">Ley 19052 - Indemnizacion a BBVV</a></p>
                              <div class="bg-light border"><p><a href="/static/img/Ley 23139 - Beneficio a Sociedades BBVV.pdf" class="pe-auto">Ley 23139 - Beneficio a Sociedades BBVV</a> </p></div>
                              <p><a href="/static/img/Ley 25054 - Sistema Nacional de Bomberos Voluntarios.pdf" class="pe-auto">Ley 25054 - Sistema Nacional de BBVV</a> </p>
                              <div class="bg-light border"><p><a href="/static/img/Ley 25425 - Dia del Bombero Voluntario.pdf" class="pe-auto">Ley 25425 - Dia del Bombero Voluntario</a> </p></div>
                              <p><a href="/static/img/Ley 25660 - Importacion de Vehiculos de Bomberos usados.pdf" class="pe-auto">Ley 25660 - Importacion de Vehiculos de Bomberos usados</a> </p>
                              <div class="bg-light border"><p><a href="/static/img/Ley 25848 - Subsidio a Bomberos Voluntarios.pdf" class="pe-auto">Ley 25848 - Subsidio a Bomberos Voluntarios</a> </p></div>
                              <p><a href="/static/img/Ley 25855 - Voluntariado Social.pdf" class="pe-auto">Ley 25855 - Voluntariado Social</a> </p>
                              <div class="bg-light border"><p><a href="/static/img/Ley 26363 - Ley de Transito y Seguridad Vial.pdf" class="pe-auto">Ley 26363 - Ley de Transito y Seguridad Vial</a> </p></div>
                              <p><a href="/static/img/Ley 26773 - Riesgos del Trabajo.pdf" class="pe-auto">Ley 26773 - Riesgos del Trabajo</a> </p>
                            
                          </div>
                        
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>