{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donaciones</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type = "image/x-icon"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    
  {% include 'post/navbar.html' %}

  <section class="vh-100">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    
                    <img src="{% static 'img/bombero6.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; width:500px; height: 500px;" />
                  
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form>
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          
                        <!-- ANULADO X AHORA
                          <span class="h1 fw-bold mb-0">BomberoLogo</span>-->  
                        
                        </div>
      
                        
                          <div class="text-dark px-3 py-4 p-md-0 mx-md-3">
                            <h5 class="mb-4">Somos Bomberos Voluntarios y te necesitamos para poder seguir brindando nuestra ayuda a la comunidad. </h5>
                            
                            <div class="text-dark px-2 py-3 p-md-0 mx-md-2">
                              <h6 class="mb-3">Podes colaborar con lo siguiente:</h6>

                              <ul style= "list-style-type:circle;">
                                <li><p class="small mb-0" style="text-align: justify; margin-left:10px;">Elementos de seguridad (guantes resistentes al calor, casco, botas, capucha ignífuga, etc)</p>
                                  
                                </li>
                                <li><p class="small mb-0" style="text-align:justify; margin-left:10px;">Matafuego, linterna, tanque de oxígeno, botiquín de primeros auxilios, etc</p>
                                
                                </li>
                                <li><p class="small mb-0" style="text-align:justify; margin-left:10px;">Alimentos no perecederos, bidón de agua. </p>
                                  
                                </li>
                                <li><p class="small mb-0" style="text-align:justify; margin-left:10px;">Manguera para incendios, herramientas de rescate vehicular hidráulicas.</p>
                                  
                                </li>
                                <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Armario especial para brigada de bomberos.</p>
                                  

                                </li>
                                <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Herramientas forestales.</p>
                                  

                                </li>
                                <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Cualquier otro tipo de donación, ingresar a la pestaña de contactos y comunicarse con el cuartel de bomberos.
                                </p>
                                </li>
                              </ul>
                            
                            </div>


                          
                          </div>
                        
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% include 'post/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>