{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type = "image/x-icon"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    
  {% include 'navbar.html' %}

  <section class="vh-100">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    
                    <img src="{% static 'img/bombero12.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; width:500px; height: 530px;" />
                  
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form>      
                        
                          <div class="text-dark px-3 py-4 p-md-0 mx-md-3">
                            <h4 class="mb-4">Objetivos</h4>

                            <ul style= "list-style-type:circle;">
                              <li><p class="small mb-0" style="text-align: justify; margin-left:10px;">Preparar la respuesta y responder de 
                                  manera efectiva y segura ante incendios y casos que requieran operaciones de rescate, 
                                  así como en las demás situaciones de emergencia que se presenten en el municipio de 
                                  General Jose de San Martín.</p>
                                <p></p>
                              </li>
                              <li><p class="small mb-0" style="text-align:justify; margin-left:10px;">Fortalecer las condiciones para 
                                  proteger efectivamente vidas, bienes y ambiente.</p>
                                <p></p>
                              </li>
                              <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Ofrecer servicios que brinden a la 
                                  comunidad seguridad humana, Industrial, protección de riesgo contra incendio, otros 
                                  incidentes y eventos masivos.</p>
                                <p></p>

                              </li>
                              <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Asegurar el mejoramiento continuo de 
                                  los procesos de la Institución, que garanticen la satisfacción de la comunidad.</p>
                                <p></p>

                              </li>
                              <li><p class="small mb-0" style="text-align: justify;margin-left:10px;">Fortalecer las competencias y la 
                                  cultura organizacional.</p>
                              </li>
                            </ul>
                            
                          </div>
                        
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>