{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidad</title>
    <link rel="icon" href="{% static 'img/logo2.png' %}" type = "image/x-icon"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    
  {% include 'navbar.html' %}

  <section class="vh-100">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  

                  <div class="col-md-20 col-lg-80 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-15 text-black">
      
                      <form>
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          
                        <!-- ANULADO X AHORA
                          <span class="h1 fw-bold mb-0">BomberoLogo</span>-->  
                        
                        </div>
      
                        
                          <div class="text-dark px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">Políticas de Privacidad</h4>
                            <p class="medium mb-5" style="text-align: justify;">
                              El presente "Políticas de Privacidad" establece los términos en que Bomberos Voluntarios de Gral. San Martín usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Estamos comprometidos con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios. 
                            </p>
                            <p></p>
                            
                            <h4 class="mb-4">Información que es recogida</h4>  
                            <p class="medium mb-5" style="text-align: justify;">
                              Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido particular.
                            </p>
                            <p></p>
                            <h4 class="mb-4">Uso de la información recogida</h4>
                            <p class="medium mb-5" style="text-align: justify;">
                              Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con información importante que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
                            </p>
                            <p></p>
                            <p class="medium mb-5" style="text-align: justify;">
                              Bomberos Voluntarios de Gral. San Martín está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
                            </p>
                            <p></p>
                            <h4 class="mb-4">Enlaces a Terceros</h4>
                            <p class="medium mb-5" style="text-align: justify;">
                              Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
                            </p>
                            <p></p>
                            <p class="medium" style="text-align: justify;">
                              Bomberos Voluntarios de Gral. San Martín Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
                            </p>
                          </div>
                        
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>